*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  height:100vh;
  text-align: center;
  background: linear-gradient(300deg, #fff, rgb(255, 169, 58));
  background-repeat: no-repeat;
  position:relative;
}
.container{
  width:380px;
  height:460px;
  margin: auto;
  background-color: rgba(231, 131, 17, 0.835);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.container::before{
  content: "";
  position: absolute;
  top: 42%;
  left: -10rem;
  width: 170%;
  height: 5rem;
  background-color: #52b9db;
  transform: rotate(40deg);
}
.mainContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 1rem;
  position: absolute;
}